<div class="container">
  <div class="title">BLOK PIERWSZY</div>
  <div class="content">
    <label
      ><input
        type="radio"
        name="option"
        value="1"
        (click)="selectRadioItem(0)"
      />
      Opcja pierwsza</label
    >
    <label
      ><input
        type="radio"
        name="option"
        value="2"
        (click)="selectRadioItem(1)"
      />
      Opcja druga</label
    >
    <label
      ><input
        type="radio"
        name="option"
        value="3"
        (click)="selectRadioItem(2)"
      />
      Opcja losowa</label
    >
  </div>
</div>
