.container {
  width: 12rem;
  display: flex;
  justify-content: center;
  background-color: black;

  .dropdown-button {
    width: 10rem;
    &.mobile {
      width: 12rem;
      height: 3rem;
    }
    fa-icon {
      margin: auto 0 0 0.25rem;
      font-size: 0.75rem;
      &.mobile {
        font-size: 1.5rem;
      }
    }
    .mobile {
      font-size: 2rem;
    }

    .options-wrapper {
      position: absolute;
      width: 10rem;
      height: 3rem;
      background-color: white;
      color: black;

      .dropdown-option {
        margin-top: 0.5rem;
        display: flex;
        justify-content: left;

        font-size: 0.6rem;
        fa-icon {
          margin: auto 0.3rem 0 0.25rem;
          font-size: 0.6rem;
        }
        &:hover {
          color: orange;
        }
      }
    }
  }
}
