@mixin icon-wrapper($background-color, $icon-color) {
  background-color: $background-color;
  height: 3rem;
  width: 3rem;
  color: $icon-color;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.808);
  backdrop-filter: blur(2px);
  display: flex;
  width: 14rem;
  height: 3rem;
  box-shadow: 0px 0px 10px 5px rgba(41, 41, 41, 0.658);
  .icon {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    .error {
      @include icon-wrapper(#ffc2c2b0, #ff0f0f);
    }
    .warning {
      @include icon-wrapper(#fff9c2b0, #dfe300);
    }
    .success {
      @include icon-wrapper(#ccffc2b0, #40e300);
    }
    .info {
      @include icon-wrapper(#c2f6ffb0, #009fe3);
    }
  }
  .content {
    width: 11rem;
    overflow: hidden;

    margin-left: 0.75rem;
    .title {
      font-weight: 600;
    }
    .message {
      font-size: 0.75rem;
    }
  }
}
